@font-face {
  font-display: swap; 
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  src: url("./fonts/plusjakartaregular.woff2") format("woff2"), 
  url("./fonts/plusjakartaregular.woff") format("woff");
}

@font-face {
  font-display: swap; 
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  src: url("./fonts/plusjakartamedium.woff2") format("woff2"), 
  url("./fonts/plusjakartamedium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  src: url("./fonts/plusjakartasemibold.woff2") format("woff2"), 
  url("./fonts/plusjakartasemibold.woff") format("woff");
} 

@font-face {
  font-display: swap; 
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  src: url("./fonts/plusjakartabold.woff2") format("woff2"), 
  url("./fonts/plusjakartabold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 27px;
  font-size: 18px;
}

.container {
  width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

img {
  display: block;
}

.list-unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eeeef4;
}

.site-header-wrapper {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 50px;
  text-decoration-line: none;
  transition: opacity 0.3s linear;
}

.header-link:hover {
  opacity: 0.8;
}

.header-link:active {
  opacity: 0.6;
}

.header-nav {
  margin-right: auto;
}

.header-nav-list {
  display: flex;
}


.nav-list-item-link {
  margin-right: 30px;
  font-weight: 500;
  line-height: 24px; 
  font-size: 16px;
  text-decoration-line: none;
  color: #101010;
  transition: color 0.3s linear;
}

.nav-list-item-link:hover {
  color: #1aab7b;
}

.nav-list-item-link:active {
  color: #1aab7b;
  opacity: 0.6;
}

.nav-list-last-item-link {
  margin-right: 0;
}

.phone-number-link {
  padding: 12px 24px;
  font-weight: 700;
  line-height: 16.8px;
  font-size: 14px;
  text-decoration-line: none;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #101010;
  background-color: #101010;
  transition: background-color 0.3s linear, border 0.3s linear,color 0.3s linear;
  
}

.phone-number-link:hover {
  border: 1px solid #1aab7b;
  background-color: #fff;
  color: #1aab7b;
}

.phone-number-link:active {
  background-color: #101010;
  border: 1px solid #101010;
  opacity: 0.6;
  color: #fff;
}

.hero {
  padding-top: 91px;
  padding-bottom: 156px;
}

.hero-wrapper {
  display: flex;
}

.hero-title-wrapper {
  width: 550px;
  margin-right: auto;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 78.4px;
  font-size: 56px;
  color: #101010;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 40px;
}

.hero-link {
  display: inline-block;
  padding: 20px 40px;
  font-weight: 700;
  line-height: 19.2px; 
  font-size: 16px;
  text-decoration-line: none;
  color: #fff;
  border: 1.5px solid #1aab7b;
  border-radius: 6px;
  background-color: #1aab7b;
  transition: border 0.3s linear, background-color 0.3s linear, color 0.3s linear;
} 

.hero-link:hover {
  border: 1.5px solid #1aab7b;
  background-color: #fff;
  color: #1aab7b;
}

.hero-link:active {
  border: 1.5px solid #1aab7b;
  background-color: #1aab7b;
  opacity: 0.7;
  color: #fff;
}

.hero-img {
  margin-top: 1px;
}

.services {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f4f6;
}

.services-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 600;
  line-height: 50.4px;
  font-size: 36px;
  text-align: center;
  color: #101010;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 34px;
}

.service-list-item {
  position: relative;
  width: 384px;
  padding: 40px 30px 40px;
  border: 2px solid #e1e7ed;
  border-radius: 6px;
  background-color: #f2f4f6;
  transition: color 0.3s linear, background-color 0.3s linear, border 0.3s linear;
}

.service-list-item::before {
  position: absolute;
  display: inline-block;
  width: 64px;
  height: 64px;
  content: "";
  top: 30px;
  right: 30px;
  border-radius: 50%;
  background-color: #e1e7ed;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  transition: color 0.3s linear;
}

.service-list-item:first-child::before {
  background-image: url("./images/webdesignerlogo.svg");
}

.service-list-item:nth-child(2)::before {
  background-image: url("./images/smmlogo.svg");
}

.service-list-item:nth-child(3)::before {
  background-image: url("./images/brandinglogo.svg");
}

.service-list-item:nth-child(4)::before {
  background-image: url("./images/developerlogo.svg");
}

.service-list-item:last-child::before {
  background-image: url("./images/graphicdesignlogo.svg");
}

.service-list-item:hover  {
  color: #fff;
  background-color: #1aab7b;
  border: 2px solid #1aab7b;
}

.service-list-item:hover .service-list-item-title {
  color: #fff;
}

.service-list-item:hover .service-list-item-img-wrapper {
  background-color: #fff;
}

.service-list-item:hover .service-list-item-text {
  color: #fff;
}

.service-list-item:hover .service-list-item-link {
  color: #fff;
  text-decoration-line: underline;
}

.service-list-item-title-wrapper {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.service-list-item-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 44.8px;
  font-size: 32px;
  color: #101010;
  transition: color 0.3s linear;
}

.service-list-item-text-wrapper {
  width: 313px;
}

.service-list-item-text {
  margin-top: 0;
  margin-bottom: 23px;
  color: #636f87;
  transition: color 0.3s linear;
}

.addition-text {
  margin-bottom: 50px;
}

.service-list-item-link {
  font-weight: 700;
  line-height: 28px;
  font-size: 20px;
  text-decoration-line: none;
  color: #000;
  transition: color 0.3s linear, underline 0.3s linear;
}

.performance-stages {
  padding-top: 100px;
  padding-bottom: 100px;
}

.performance-stages-title-wrapper {
  width: 650px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.performance-stages-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 50.4px;
  font-size: 36px;
  color: #101010;
}

.performance-stages-text {
  margin-top: 0;
  margin-bottom: 90px;
  color: #636f87;
}

.list-item {
  display: flex;
}

.list-item:first-child {
  margin-bottom: 100px;
}

.list-item:nth-child(2) {
  margin-bottom: 94px;
  flex-direction: row-reverse;
}

.list-item:last-child {
  margin-bottom: 100px;
}

.list-item-img {
  margin-right: 32px;
}

.addition-img {
  margin-right: 0;
  margin-left: 32px;
}

.list-item-title-wrapper {
  width: 488px;
}

.list-item-title {
  margin-top: 26px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 56px;
  font-size: 40px;
  color: #101010;
}

.addition-title {
  margin-top: 62px;
}

.list-item-last-title {
  margin-top: 22px;
}

.list-item-text {
  margin-top: 0;
  margin-bottom: 0;
  color: #636f87;
}

.site-footer {
  background-color: #101010;
}

.footer-start {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #3b4155;
}

.footer-start-wrapper {
  display: flex;
  justify-content: space-between; 
}

.footer-services-wrapper {
  display: flex;
}

.footer-start-title {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  color: #FFF;
}

.footer-services-list {
  margin-right: 151px;
}

.footer-start-list-item-link {
  display: inline-block;
  margin-bottom: 26px;
  text-decoration-line: none;
  font-weight: 500;
  color: #a1a8b7;
  transition: color 0.3s linear;
}

.last-item-link {
  margin-bottom: 0;
}

.footer-start-list-item-link:hover {
  color: #1aab7b;
}

.footer-start-list-item-link:active {
  color: #1aab7b;
  opacity: 0.8;
}

.footer-start-address {
  font-style:normal;
}

.address-list-item-link-wrapper {
  width: 280px;
}

.address-list-item-link {
  display: inline-block;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  text-decoration-line: none;
  color: #a1a8b7;
}

.addition-address {
  margin-bottom: 32px;
}

.social-list {
  display: flex;
  gap: 40px;
}

.social-list-item-link {
  text-decoration-line: none;
}

.footer-end {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-end-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-end-link {
  text-decoration-line: none;
  transition: opacity 0.3s linear;
}

.footer-end-link:hover {
  opacity: 0.8;
}

.footer-end-link:active {
  opacity: 0.6;
}

.footer-end-box {
  font-weight: 500;
  color: #fff;
}